<h1 style="font-size: 30px;">WELCOME</h1>

<% @posts.each do |post| %>
    <% if post.description? %>
     <h1> <%= link_to post.title, post_path(post) %> </h1> 
      <% end %>
    <% end %> 

    

    <% link_to "Posts", posts_path %>
    <a p style="font-size: 15px;" href="http://localhost:3000/posts"> All Posts <a\>

    <a> .... </a>

    <a p style="font-size: 15px;" href="http://localhost:3000/products"> All Products <a\>
  
   



      